*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: black;   
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border: solid 5px rgb(87, 7, 87);
}


section{
    display: flex;
    width: 600px;
    height: 430px;
    background-color: black;
    border: solid 5px rgb(87, 7, 87);
    border-radius: 20px;
}


section img{
    width: 0;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
    border-radius: 20px; 
    border: solid 2px violet; 
}

section img:hover{
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}